# Unity
/Projects/FloatingIsland/Library/
/Projects/FloatingIsland/Temp/
/Projects/FloatingIsland/Obj/
/Projects/FloatingIsland/Logs/
/Projects/FloatingIsland/Build/
/Projects/FloatingIsland/Builds/
/Projects/FloatingIsland/Assets/Allegorithmic*
/Projects/FloatingIsland/Assets/AssetStoreTools*
/Projects/FloatingIsland/Assets/Plugins*
*.pidb.meta
sysinfo.txt

# Visual Studio
ExportedObj/
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd

# Blender
*.blend1

# Substance Designer
.autosave/
*.resources/

# Builds
/Builds/

# Large files
*.wav
*.au
